
/* =================== BOOTSTRAP OVERRIDES =================== */

body {
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body h1{
	font-family: 'Merriweather', serif;
	font-size: 40px;
}

body h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

body p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

/* Nav */

.logo {
	width: 125px;   
}

.navbar {
	padding: 0;
}

.navbar-brand {
	padding-left: 1.5rem;
}

.navbar-nav a {
	color: #000 !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.navbar-nav a:hover span{
	border-bottom: 3px solid #FFC701;
}

.custom-toggler2.navbar-toggler {
    border-color: rgba(255,255,255,0);
} 

/* Overlay */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 1);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    font-family: 'Open Sans', serif;
    color: #000;
    display: block;
    transition: 0.3s;
}

.overlay a:hover span {
    color: #000;
    border-bottom: 4px solid #FFC701;
}

.overlay .closebtn {
    position: absolute;
    top: -1.8rem;
    right: 0.3rem;
    font-size: 60px;
}

.nav-icon{
     font-size:35px;
     cursor:pointer;
     display: block;
     text-align: right;
     padding-right: 1rem;
     color: #fff;
}

/* Header */

.row-jumbotron p {
	max-width: 70%;
}

.row-jumbotron, .mobiletext {
	height: 90vh;
	min-height: 90vh;	
}

.row-jumbotron img{
	height: 90vh;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -5px;
	object-fit: cover;
	width: 100%;
}

.row-jumbotron .btn, .mobiletext .btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}

/* Row 2 */

.row2 {
	height: 100vh;
	min-height: 100vh;
}

.row2 img{
	height: 100vh;
	padding-top: 10px;
	padding-bottom: 10px;
	object-fit: cover;
	width: 100%;
}

.line24 {
	line-height: 24px; 
}

.line28 {
	line-height: 28px; 
}

.line30 {
	line-height: 30px; 
}

.thin {
	width: 95%;
}

.thin97 {
	width: 97%;
}
/* Row 3 */

.break {
	display: block;
}

.yellow {
	color: #FFC701;
}

.bolder {
	font-style: italic;
	font-family: 'Merriweather', serif;
	font-size: 20px;
}

/* Row 4 */

.card {
	overflow: hidden !important;
}

.row4 img{
	height: 100vh;
	object-fit: cover;
	max-width: 100%;
	transition: all 0.3s;
}

.row4 .bordered {
	border: 1px solid #FFF;
	background:rgba(255,255,255, 0.85);
}
/*
.card:hover {
	outline: solid 10px #fff;
	outline-offset: -10px;
}*/

.card img:hover {
	-webkit-transform: scale(1.2);
 	transform: scale(1.1);
}

.bordered {
	width: 100%;
	margin-left: 0;
}

.row4 .bordered h2{
	font-weight: 600;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
}

.row4 .bordered p{
	font-size: 14px;
	padding-left: 10%;
	padding-right: 10%;
}
.carousel-caption{
	color: #000;
	text-align: left;
	width: 95%;
	left: 0%;
	padding-bottom: 0%;
}

.bordered a {
	text-decoration: none !important;
}

.row-full {
	height:100vh;
	min-height:100vh;	
}

.card {
	margin: 0 auto !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.boxfix {
	font-size: 30px !important;
	line-height: 0px !important;
	padding-bottom: 0.5em !important;
}

/* apply to cards only
.btn {
	border-radius: 0;
}

* {
  border-radius: 0 !important;
}
*/

.card-img {
	height: 100vh;
}

.card-body {
	height: 170px;
}

/* Footer */

.footer {
	background: rgb(0,183,255);
	background: linear-gradient(149deg, rgba(0,183,255,1) 0%, rgba(255,255,199,1) 100%);
}

.footer p{
	width: 40%;
	font-size: 14px;
}

.footer a{
	color: inherit; 
}

.formheader {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #898989;
}

.form-group {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px !important;
	color: #898989;
}

.form-control {
	border-color: #898989 !important;
	color: #898989 !important; 
	font-size: 14px !important;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #C1C1C1 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #C1C1C1 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #C1C1C1 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #C1C1C1 !important;
}

.whitebox {
	width: 60%;
	margin: auto;
	background: #fff;
	padding-left: 3%;
	padding-right: 3%;
}

.widebtn {
	width: 60%;
	background: #fff !important;
	font-weight: bold;
	color: #898989 !important;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-send {
	color: #898989 !important;
}

input[type = "submit"].widebtn:hover {
    color: #898989 !important;
}

label {
    display: none;
}

/* ====================== WELCOME PAGE ====================== */

.welcomebg {	
	background-image: url(assets/imgs/gsapts/8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 63vh;
}

.welcomebg .navbar-nav a {
	color: #fff !important;
}

.welcomer1 .btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}

.welcomer1 p {
	font-size: 14px;
	line-height: 24px;
}

.welcomer1 h1 {
	width: 80% !important;
}

.grey {
	color: #212529;
}
.font10{
	font-size: 10px !important;
	color: #212529;
}
/*
.buttonh {
	height: 35px;
	width: 150px;
	margin-right: 10px;
	margin-left: 10px;
}*/

.btn-outline-warning:hover, .btn-outline-warning:focus {
	color: #FFF !important;
}

.leftmar {
	margin-left: 20px;
}

.noexpand {
	overflow: hidden !important;
	height: inherit;
	width: inherit;
}

.morephotos {
	display: none;
}

.rempad {
	padding-left: 0;
	padding-right: 0;
}

.noexpand img:hover {
	-webkit-transform: scale(1.2);
 	transform: scale(1.1);
}

.noexpand img{
	height: 50vh !important;
	object-fit: cover;
	width: 100%;
	transition: all 0.3s;
}

.welcomer2 p{
	font-size: 12px;
}

.welcomer2 .btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
}

.btn-outline-warning {
	color: #FFC701 !important;
}

.rightarrow {
    position: absolute;
    top: 12rem;
    right: 3%;
}

.modal-body .f20 {
	font-size: 20px;
	line-height: 5px;
}

.modal-body .f14 {
	font-size: 14px;
	padding-bottom: 5px;
	margin-top: -5px;
}

.modal-title {
	font-size: 40px;	
}

.welcomer3 {
	background: #F8F8F8;
	border-left: 100px solid #fff;
	border-right: 100px solid #fff;
	border-top: 20px solid #fff;
	border-bottom: 40px solid #fff;
}

.holidays {
	font-size: 30px !important;
}

.welcomer4 {
	background: #F8F8F8;
}

/* ====================== VILLAS PAGE ====================== */

.welcomebg2 {	
	background-image: url(assets/imgs/gsvillas/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 63vh;
}

.welcomebg2 .navbar-nav a {
	color: #fff !important;
}

/* =================== QUALITY LIVING PAGE =================== */

.welcomebg3 {	
	background-image: url(assets/imgs/gsqual/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 45%;
	height: 63vh;
}

.welcomebg3 .navbar-nav a {
	color: #fff !important;
}

/* ======================= MABAI PAGE ======================= */

.welcomebg4 {	
	background-image: url(assets/imgs/gsmabai/20.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 15%;
	height: 63vh;
}

.welcomebg4 .navbar-nav a {
	color: #fff !important;
}

/* ====================== VILLAS PAGE ====================== */

.welcomebg5 {	
	background-image: url(assets/imgs/GoldenSands-ComingSoon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.welcomebg5 .navbar-nav a {
	color: #fff !important;
}

/* ======================= IN THE MAKING ======================= */


.inthemaking {	
	background-image: url(assets/imgs/GoldenSands-ComingSoon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 45%;
	height: 63vh;
}

.inthemaking .navbar-nav a {
	color: #fff !important;
}

#comingsoon {
	margin-bottom: 4em;
}


/* ====================== GOOGLE MAP ====================== */


#map {
    width: 100%; height: 400px; margin-top: 40px; margin-bottom: 40px;
}

#content {
    font-family: 'Open Sans', sans-serif;
}

#content h1{
    font-size: 20px;
}

#content p{
    font-size: 14px;
}

#content {
    color: #000;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }


/* ====================== IMAGE GALLERY ====================== */

.carousel {
	height: 100vh
}

.carousel img{
	height: 100vh;
	object-fit: cover;
	width: 100%;
	background-color: #000;
}

.galleryclosebtn {
    position: absolute;
    top: -.75rem;
    right: 1.75rem;
    font-size: 60px;
}

.galleryclosebtn a {
    color: #FFC701;
    text-decoration: none;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFC701' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFC701' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators .active{
    background-color: #FFC701;
}

.copyright {
	font-size: 12px;
}

.comingsoon {
    font-size: 40px;
    color: #fff;
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}

/* ====================== MEDIA QUERIES ====================== */

/* Medium to Large Devices*/

@media (min-width: 1199px) {

	.nav-icon {
		display: none;
	}

	.mobiletext {
		display: none;
	}

	.welcomer1 h1 {
		padding-left: 20%;
		width: 70%
	}

	.welcomer4 {
		display: none;
	}

}

/* Small to Medium Devices*/

@media (max-width: 1199px) {
	
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left:0px;
    padding-right:0px;
    overflow-x: hidden;
}
/* Nav */

.logo {
	width: 95px;   
}

.navbar-brand {
	padding-left: .5rem;
}

.button1 {
	font-size: 14px !important;
	margin-left: 50px !important;
}

/* Header */

.herobg {	
	background: url("assets/imgs/whatwebuild2.jpg");
	background-size: cover;
	color: #fff;
	font-weight: bold;
	height: 100vh;
}

.herobg .navbar-nav a {
	color: #fff !important;
}

.font30 {
	font-size: 30px !important;
}

.row-jumbotron {
	display: none;
}

.row-jumbotron p, .mobiletext p {
	max-width: 90%;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	line-height: 1.3;
	text-shadow: 1px 0.5px 2px #3f3f3f;
}

.row-jumbotron h1, .mobiletext h1 {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
	text-shadow: 1px 0.5px 2px #3f3f3f;
}

.row-jumbotron .btn, .mobiletext .btn{
	padding-left: 1rem !important;
	margin-left: 1rem !important;
}

/* Row 2 */

.row2 p{
	padding-left: 0 !important;
	padding-right: 0 !important;
	font-size: 14px;
	line-height: 24px;
}

.row3 span.break {
	display: inline;
}

.row2 h1 {
	padding-top: 2rem !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.row2 {
	height: auto;
	min-height: auto;
	padding-top: 10%;
}

.row2 img{
	height: auto;
	padding-top: auto;
	padding-bottom: auto;
}

.row2 span {
	display: inline;
}

/* Row 3 */

.nopad {
	padding: 0 !important;
}

.nopadtop {
    padding-top: 1.5em !important;
}

.row3 {
	padding-top: 0 !important;
}
.row3 p {
	padding-left: 2rem !important;
	padding-right: 0rem !important;
}
.row3 h1{
	padding-left: 0rem !important;
	padding-right: 0rem !important;
}

.bolder {
	padding-top: 1rem;
}

.font14{
	font-size: 14px;
}

.line24 {
	line-height: 24px;
}
.padbot {
	padding-bottom: 0em !important;
	width: 100%;
}

.padright {
	padding-right: 2.5em !important;
}

/* Row 4 */

.row4 img{
	height: 450px;
	object-fit: cover;
	width: 100%;
}
.row-full{
	height: auto;
	min-height: auto;
}

.mabai {
	padding-right: 0 !important;
}

.row4 .bordered {
	width: 90%;
}

.boxfix2 {
	font-size: 30px !important;
	line-height: 0px !important;
	padding-bottom: 0.5em !important;
}

/* Footer */

.footer {
	padding-top: 1em !important;
}

.footer h1{
	font-size: 30px;
	padding-top: 7%;
	padding-bottom: 1% !important;
}

.footer p{
	width: 90%;
	margin-bottom: 5% !important;
}

.form-group {
	font-size: 10px !important;
}

.whitebox {
	width: 85%;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 1.5em; 
}

.widebtn {
	width: 85%;
	font-size: 10px;
	margin-bottom: 2em;
	padding-top: 10px;
	padding-bottom: 10px; 
}

#map {
	margin-top: 0; 
	margin-bottom: 0;
}


/* Welcome Page */

.welcomer1 {
	margin: 0 auto !important;
	padding: 0 auto !important;
	text-align: center;
}

.welcomer1 h1 {
	padding-left: 0rem !important;
	padding-right: 0rem !important;
	font-size: 30px; 
	width: auto !important;
}

.welcomer1 p{
	padding-left: .5rem !important;
	padding-right: .5rem !important;
	font-size: 14px !important;
}
/*
.buttonh {
	height: auto;
	width: 125px;
	margin-right: 0px;
	margin-left: 10px;
}*/

/*.buttonml {
	margin-left: auto;
	margin-right: 10px;
}*/

.morephotos{
	display: block;
	position: absolute;
	top: 25px;
    right: 50px;
	z-index: 1;
}

.welcomer2 {
	padding-bottom: 5em;
}

.btn-outline-warning {
	margin-left: 1px;
}

.shrinkbtn {
	padding-left: 1em !important;
	padding-right: 1em !important;
}

.welcomer2 {
	margin: -1.5em !important;
	padding: 0 auto !important;
}

.carousel img{
	object-fit: contain;
}

.modal-body .f20 {
	font-size: 14px;
	line-height: 0px;
	padding-left: 16px;
}

.modal-body .f14 {
	font-size: 10px;
	padding-bottom: 3px;
	margin-left: 16px;
	margin-top: -5px;
}

.modal-title {
	font-size: 30px;	
}

.welcomer3 {
	display: none;
}

.welcomer4 {
	margin-bottom: 3em;
}

.flexcenter {
	display: flex;
	justify-content: center;
	padding-left: 0 !important;
}

.comingsoon {
    font-size: 30px;
}

#comingsoon {
	margin-bottom: 0em;
}

.leftmar {
	margin-left: 20px;
}

.holidays {
	font-size: 20px !important;
}