
/* ==================== CSS RESET ==================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body{
  overflow-x: hidden;
  overflow-y: scroll;
}

/* ==================== GRID SETUP ==================== */

 .container {

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 20vh 1fr auto auto auto auto 100vh;
      grid-template-rows: 20vh 1fr auto auto auto auto 100vh;

      grid-template-areas:  
          "nav nav"
          "header header"
          "about about"
          "info info"
          "services services"
          "faqs faqs"
          "footer footer";
}

/* ==================== NAV ==================== */

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;
  padding: 1.5em 5em 1.5em 3em;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  font-family: "soleil",sans-serif; 
  font-size: 1.250em;
}

nav li a {
  text-align: center;
  padding-left: 25px;             
  padding-right: 25px;
  text-decoration: none;
  color: #ee3124;
}

nav li a:hover span{
  border-bottom: 2px solid #ee3124;
}

/* MOBILE NAV */

#mobilenavvis {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto;
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: nav;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
	background-color: #fff;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.overlay a {
    padding: 18px;
    text-decoration: none;
    font-family: "soleil",sans-serif; 
    font-size: 2.250em;
    color: #ee3124;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #ee3124;
    text-decoration: underline;
}

.overlay .closebtn {
    position: absolute;
    top: -0.2em;
    right: 0.2em;
    font-size: 3.750em;
    text-decoration: none !important;
}

#burger {
	font-size: 1.938em;
	cursor: pointer;
	color: #ee3124;
	margin-left: auto;
    padding-right: 0.8em;
    margin-top: -1px;
}

/* CONTACT BUTTON */

.ghost-button {
  color: #ee3124;
  background: #fff;
  border: 3px solid #ee3124;
  padding: 0.4em 1.5em;
  font-weight: normal;
  text-decoration: none;
  font-family: "soleil",sans-serif; 
}

.ghost-button:hover, .ghost-button:active {
  color:#ffffff;
  text-decoration: none;
  background:#ee3124;
}

.ghost-button2 {
  color: #ee3124;
  background: #fff;
  border: 5px solid #ee3124;
  padding: 0.3em 0.0em !important;
  margin-left: 25%;
  margin-right: 25%;
  font-weight: normal;
  text-decoration: none;
  font-family: "soleil",sans-serif; 
  margin-top: 0.5em;
}

.ghost-button2:hover, .ghost-button2:active {
  color: #fff !important;
  text-decoration: none;
  background:#ee3124;
}

/* ==================== HEADER ==================== */

header {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: header;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 6em;
}

header h1 {
	color: #5C5C5C;
	width: 700px;
	padding-left: 18%;
	padding-top: 7%;	
	position: absolute;
	z-index: 1;
	font-size: 2.250em;
	font-family: "soleil",sans-serif; 
	line-height: 62px;
}

.bold {
	font-weight: 800;
}

#bg-img-desktop {
	margin-left: auto;
	margin-right: 0;
	max-width: 53%;
	padding-bottom: 6em;
}

#arrow {
	position: absolute;
	left: 0;
	margin-top: 25em;
	margin-left: -5px;
	width: 100%;
}

/* RESPONSIVE IMG CLASS-*/

.responsive {
    width: 100%;
    height: auto;
}

/* ANIMATION-*/

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

/* ==================== ABOUT ==================== */

#about {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: about;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;

        grid-template-areas:  
          "aboutp1 abouth1"
          "aboutp2 abouth1"
          "aboutp3 aboutp3"
          "aboutp4 aboutp4";

    padding-top: 7em;
    padding-bottom: 5em;
    position: relative;
}

.br {
	display: block;
}

.abouth1 {
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	-ms-grid-column: 2;
	grid-area: abouth1;
	font-family: "soleil",sans-serif;
	font-size: 6.563em;
	line-height: 130px;
	font-weight: 800;
	text-decoration: underline;
	color: #FDF4EC;
	left: 60%;
  	top: 50%;
  	transform: translate(-50%,-50%);
	height: 100%;
	position: absolute;
	margin-top: -1em;
}

.aboutp1 {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: aboutp1;
	font-family: "soleil",sans-serif;
	font-size: 1.250em;
	font-weight: 200;
	line-height: 34px;
	color: #575757;
	margin: 0 auto;
	width: 82%;
	padding-bottom: 1em;
}

.aboutp2 {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: aboutp2;
	font-family: "soleil",sans-serif;
	font-size: 1.250em;
	font-weight: 200;
	line-height: 34px;
	color: #575757;
	margin: 0 auto;
	width: 82%;
}

.aboutp3 {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: aboutp3;
	font-family: "soleil",sans-serif;
	font-size: 1.250em;
	font-weight: 200;
	line-height: 34px;
	color: #575757;
	margin-left: 50vw;
	width: 40%;
	padding-bottom: 1em;
}

.aboutp4 {
	-ms-grid-row: 4;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: aboutp4;
	font-family: "soleil",sans-serif;
	font-size: 1.250em;
	font-weight: 200;
	line-height: 34px;
	color: #575757;
	margin-left: 50vw;
	width: 40%;
}

/* ==================== INFO ==================== */

#info {
	-ms-grid-row: 4;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: info;
	margin-left: 12%;
	margin-right: 5%;
	margin-bottom: 10em;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
}

#info p {
	position: relative;
	font-family: "soleil",sans-serif;
	color: #575757;
	width: 40vw;
	font-size: 1.500em;
	line-height: 34px;
	font-weight: 300;
	padding-bottom: 1em;
}

#info_h2 {
	color: #ee3124;
	font-family: "soleil",sans-serif;
	position: absolute;
	right: 25%;
	font-size: 3.125em;
}


#info_h2_mobile {
	display: none;
}

#info_circletext {
	display: none;
}

.safari #info_circletext {
  	display: block;
	position: absolute;
	right: 10%;  
}
.safari #info_h2 {
  	display: none; 
}

.info_p1{
	padding-top: 17%;
}

.background_box{
    position: absolute;
	background-color: #FDF4EC;
	height: 75vh;
	width: 40vw;
	margin-left: auto;
	margin-right: auto;
	top: 22em;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
	z-index: -1;
}

/* ==================== SERVICES ==================== */

#services {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: services;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        grid-template-areas:  
          "whatwedo whatwedo"
          "offerings caption";

    background-color: #FDF4EC;
    text-align: center;
    height: 100%;
    font-family: "soleil",sans-serif;
    color: #575757;
    margin-bottom: 6em;
}

.whatwedo {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: whatwedo;
	margin-bottom: 6em;
}

.whatwedo h1 {
	font-size: 2.875em;
	font-weight: 800;
	color: #ee3124;
	padding-top: 80px;
	padding-bottom: 80px;
}

.whatwedo p {
	font-size: 1.500em;
	line-height: 37px;
	color: #ee3124;
	width: 60%;
	padding-bottom: 80px;
	margin: 0 auto;
	text-align: left;
}

.whitebox ol {
	font-size: 1.250em;
	text-align: left;
	font-weight: 100;
	width: 80%;
	margin: 0 auto;
	line-height: 35px;
	padding-top: 5%;
	padding-bottom: 5%;
	list-style-type: decimal;
 	list-style-position: outside;
 	list-style-image: none;
}

.whatwedo ol li {
	margin-bottom: 10px;
}


.whitebox {
	background-color: #fff;
	position: relative;
	z-index: 2;
	width: 65vw;
	border-left: solid 5px #ee3124;
	margin: 0 auto;
}

.whitebox2 {
	background-color: #fff;
	position: relative;
	z-index: 2;
	width: 40vw;
	border-right: solid 5px #ee3124;
	border-bottom: solid 5px #ee3124;
    -webkit-box-shadow: 10px 10px 0px 0px white;
            box-shadow: 10px 10px 0px 0px white;
	margin: 0 auto;
}

.whitebox2:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 20px;
    right: -20px;
    bottom: -20px;
    border-right: 5px solid #ee3124;
    border-bottom: 5px solid #ee3124;
}

.offerings {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
	grid-area: offerings;
}

.offerings h2 {
	position: relative;
	font-size: 2.125em;
	font-weight: 800;
	color: #ee3124;
	padding-top: 12%;
	text-align: center;

}

.offerings ol {
	position: relative;
	font-size: 1.125em;
	text-align: left;
	font-weight: 100;
	width: 80%;
	padding-top: 10%;
	padding-bottom: 5%;
	margin: 0 auto;
	line-height: 35px;
	list-style-type: none;	
}

.offerings ol > li:before {
    content: '\2014'; /* en dash */
    position: absolute;
    margin-left: -1.1em; 
}

.offerings li {
	padding-bottom: 10px;
}

.caption {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
	grid-area: caption;
	position: relative;
}

.caption p{
	font-size: 1.500em;
	line-height: 37px;
	position: absolute;
	color: #ee3124;
	text-align: left;
	text-align: -webkit-left;
	width: 67%;
	margin-left: auto;
	margin-right: auto;
    top: 30%;
    left: 45%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/* ==================== FAQS ==================== */

#faqs {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: faqs;
  font-family: "soleil",sans-serif;
  font-size: 24px;
  font-weight: 200;
  line-height: 34px;
  color: #646464;
}

#faq-arrow {
	position: absolute;
	right: 0;
	margin-top: -10em;
}

#faq-arrow-mobile {
	display: none;
}

input[type="radio"] {
	  position: absolute;
	  opacity: 0;
}

input[type="radio"]:focus + label {
	  color: #ee3124;
}

label {
  position: relative;
  display: block;
  cursor: pointer;
  color: #ee3124;;
  padding: .5em;
  border: 3px solid #ee3124;
  padding-left: 10%;
}

#faqs section {
  height: 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  overflow: hidden;
  padding-left: 2em;
  border-left: 3px solid #ee3124;
  border-right: 3px solid #ee3124;
  position: relative;
}

#toggle1:checked ~ #content1,
#toggle2:checked ~ #content2,
#toggle3:checked ~ #content3,
#toggle4:checked ~ #content4,
#toggle5:checked ~ #content5 {
  padding-top: 2vh;
  padding-right: 4vw;
}

#toggle1:checked ~ #content1 {
  height: 200px;
}

#toggle2:checked ~ #content2 {
  height: 100px;
}

#toggle3:checked ~ #content3 {
  height: 200px;
}

#toggle4:checked ~ #content4 {
  height: 350px;
}

#toggle5:checked ~ #content5 {
  height: 200px;
}

#faqs p {
  position: absolute;
  top:50%; 
  left:50%;
  transform:translate(-50% , -50%);
  width: 80%;
}

.togglebox {
  margin: 0 auto;
  width: 70%;
  border: 3px solid #ee3124;
  margin-top: 13%;
  margin-bottom: 13%;
}	

/* ==================== FOOTER ==================== */

footer {
	background-color: #ee3124;
	-ms-grid-row: 7;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;
	grid-area: footer;
	font-family: "soleil",sans-serif;
    
}

footer h2 {
	font-size: 2.875em;
	font-weight: 800;
	color: #fff;
	padding-top: 7%;
	margin-left: 10%;
	line-height: 1.3;
}

footer h2 span {
	display: block;
	font-weight: 800;
}

footer p {
	font-size: 1.500em;
	font-weight: 200;
	color: #fff;
	text-align: left;
	padding-top: 3%;
	padding-bottom: 5%;
	margin-left: 10%;
	width: 50%;
	left: 10%;
}

footer h3 {
	font-size: 2.875em;
	font-weight: 800;
	color: #fff;
	margin-left: 10%;
	padding-bottom: 10%;
}

footer h3 span {
	border-bottom: 4px solid #fff;
}

footer a {
	text-decoration: none;
	color: inherit;
}


/* ==================== MEDIA QUERIES ==================== */



/* Desktop & Above*/

@media only screen and (min-width: 900px) {

  #mobilenavvis {
	display: none;
  }
}

/* Tablet & Below */

@media only screen and (max-width: 900px) {

  .container {
    -ms-grid-rows: 10vh 1fr auto auto auto auto 60vh;
        grid-template-rows: 10vh 1fr auto auto auto auto 60vh;
  }

  nav {
	display: none;
  }
  
  .ghost-button {
    font-size: 0.875em;  
    position: absolute;
    padding: 0.4em 1.5em;
	right: 4.5em; 
  }

  .ghost-button2 {
    font-size: 0.875em;  
 	padding: 0;
  }

  #logo-img {
    padding-left: 1.2em;	
  }
 
  header {
	margin-bottom: 4em;
  }

  header h1{
	font-size: 1.5em;
	width: 15em;
	line-height: 34px;
	padding-top: 17%;	
	padding-left: 18%;
  }

  #bg-img-desktop img{
	height: 29em;
	-o-object-fit: cover;
	   object-fit: cover;
	   object-position: 10% 50%; 
	padding-top: 1em;
  }

  #arrow {
	position: absolute;
	left: 0;
	margin-top: 30em;
	margin-left: -5px;
	width: 100%;
}

  #about {
	-ms-grid-columns: 1fr;
	    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;

        grid-template-areas:  
          "abouth1"
          "aboutp1"
          "aboutp2"
          "aboutp3"
          "aboutp4";

    padding-top: 0em;
    margin-top: 0em;
    margin-bottom: 10em;
    position: static; 
  }

  .abouth1 {
   	font-size: 3.875em;
   	line-height: 70px;
   	font-weight: 600;
   	text-align: center;
   	position: static;
   	width: auto;
   	margin: 0 auto;
   	padding-right: 0;
   	margin-bottom: 1em;
   	transform: none;
   	-webkit-box-sizing: border-box;
   	        box-sizing: border-box;
    width: 70%;
   }
 
  .aboutp1 {
   	font-size: 1em;
   	line-height: 20px;
   	width: 76%;
   	padding-bottom: 1em;
  }
 
  .aboutp2 {
	font-size: 1em;
	line-height: 20px;
	width: 76%;
	padding-bottom: 1em;
  }

  .aboutp3 {
	font-size: 1em;
	line-height: 20px;
    margin: 0 auto;
	width: 76%;
	padding-bottom: 1em;
  }

  .aboutp4 {
	font-size: 1em;
	line-height: 20px;
    margin: 0 auto;
	width: 76%;
  }

  #info {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 6em;
  }

  #info p {
	font-size: 1em;
	line-height: 20px;
	position: relative;
	padding-bottom: 20px;
	width: 74%;
	margin-left: 3em;
  }

  .info_p1{
	padding-top: 0;
  }

  #info_h2 {
	display: none;
  }

  #info_circletext {
  	display: none;
  }

  .safari #info_circletext {
  	display: none;
  }

  #info_h2_mobile{
	display: block;
	font-family: "soleil",sans-serif;
	color: #ee3124;
	position: absolute;
	right: 25%;
	font-size: 1.250em; 
	margin-top: -9em;
  }

  .background_box{
    position: absolute;
	height: 300px;
	width: 40vw;
	top: 4em;
}

  #services {
	-ms-grid-columns: 1fr;
	    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;

        grid-template-areas:  
          "whatwedo"
          "caption"
          "offerings";
  }

.whatwedo {
  	margin-bottom: 0em;
}

.whatwedo h1 {
	font-size: 1.250em;
	font-weight: 800;
	padding-top: 50px;
	padding-bottom: 50px;
}

.whatwedo p {
	font-size: 1em;
	font-weight: 200;
	line-height: 20px;
	width: 70%;
	text-align: left;
	padding-bottom: 50px;
	margin: 0 auto;
}

.whitebox ol {
	font-size: 0.875em;
	text-align: left;
	font-weight: 100;
	width: 80%;
	margin: 0 auto;
	line-height: 20px;
}

.whatwedo ol li {
	margin-bottom: 10px;
}

.whitebox {
	background-color: #fff;
	position: relative;
	z-index: 2;
	width: 80vw;
	border-left: solid 5px #ee3124;
	margin: 0 auto;
}

.whitebox2 {
	background-color: #fff;
	position: relative;
	z-index: 2;
	width: 80vw;
	border-right: solid 4px #ee3124;
	border-bottom: solid 4px #ee3124;
    -webkit-box-shadow: 8px 8px 0px 0px white;
            box-shadow: 8px 8px 0px 0px white;
	margin: 0 auto;
}

.whitebox2:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 20px;
    right: -15px;
    bottom: -15px;
    border-right: 4px solid #ee3124;
    border-bottom: 4px solid #ee3124;
}

.offerings {
	margin-top: 8em;
	margin-bottom: 8em;
	width: 100%;
}

.offerings h2 {
	font-size: 1.250em;
	position: relative;
	font-weight: 800;	
	padding-top: 5%;
	text-align: left;
	left: 10%;
}

.offerings ol {
	font-size: 0.875em;
	text-align: left;
	padding-top: 5%;
	font-weight: 100;
	width: 80%;
	line-height: 20px;
	left: 40%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	    transform: translateX(-50%);
}

.caption p{
	font-size: 1em;
	text-align: left;
	font-weight: 200;
	line-height: 20px;
	width: 55%;
	margin-top: 3em;
	margin-bottom: 4em;
    left: 50%;
    top: 25%;
}

  #faqs {
	font-size: 1em;
	line-height: 18px;
  }

  #faq-arrow {
	display: none;
  }

  #faq-arrow-mobile {
   	display: block;
  }

  #faq-arrow-mobile {
	position: absolute;
	margin-top: -10vh;
	right: 0;
	width: 100%;
	-webkit-transform: scaleX(-1);
	    -ms-transform: scaleX(-1);
	        transform: scaleX(-1);
  }

  label {
	padding-left: 10%;
	padding-right: 10%; 
  }

  .togglebox {
    width: 90%;
    margin-top: 13vh;
  }

  #toggle1:checked ~ #content1,
  #toggle2:checked ~ #content2,
  #toggle3:checked ~ #content3,
  #toggle4:checked ~ #content4,
  #toggle5:checked ~ #content5 {
    padding-top: 2vh;
    padding-right: 4vw;
    padding-left: 0;
  }
  
  #toggle1:checked ~ #content1 {
    height: 140px;
  }

  #toggle2:checked ~ #content2 {
    height: 40px;
  }

  #toggle3:checked ~ #content3 {
    height: 100px;
  }

  #toggle4:checked ~ #content4 {
    height: 180px;
  }

  #toggle5:checked ~ #content5 {
    height: 100px;
  }

  footer h2 {
	font-size: 1.250em;
	padding-top: 7em;
	line-height: 1.3;
  }

  footer p {
	font-size: 1em;
	padding-top: 2em;
	font-weight: 200;
	width: 50%;
  }

  footer h3 {
	font-size: 1.250em;
	padding-top: 1em;
  }

}


/* Mobile & Below */

@media screen and (max-width: 520px) {
	
  .container {
    -ms-grid-rows: 15vh auto auto auto auto auto 100vh;
        grid-template-rows: 15vh auto auto auto auto auto 100vh;
  }

  nav {
	display: none;
  }

  header {
	padding-bottom: 0em;
  }

  header h1{
	width: 80%;
	font-size: 1.250em;
	padding-left: 10%;
	padding-top: 4em;	
  }

  #bg-img-desktop {
	margin-left: auto;
	margin-right: 0;
	max-width: 70%;
	padding-top: 0;
	padding-bottom: 6em;
  }

  #bg-img-desktop img{
	height: 22em;
	-o-object-fit: cover;
	   object-fit: cover;
	   object-position: 10% 50%; 
	padding-top: 1em;
  }

  .overlay .closebtn {
    top: 0em;
  }

  #burger {
  	margin-top: -0.5px;
  }

  #arrow {
	position: absolute;
	margin-right: auto;
	margin-top: 23em;
  }

  #arrow img{
	width: 120px;
  }

  .background_box{
	height: 60vh;
	width: 70vw;
	position: relative;
	margin-left: -20%;
	margin-right: 0;
	margin-top: -14em;
  }

  #info {
	margin-bottom: -4em !important;
  }

  #info p {
	font-size: 1em;
	line-height: 20px;
	position: relative;
	padding-bottom: 20px;
	width: 95%;
	margin-left: 0em;
  }

  .offerings h2 {
	padding-top: 15%;
  }

  .offerings ol {
	padding-top: 15%;
	padding-bottom: 15%;
  }

  .whatwedo p {
    width: 75%;
  }

  .caption p{
	width: 75%;
  }

  .togglebox {
    margin-top: 10em;
    margin-bottom: 10em;
  }

  #toggle1:checked ~ #content1 {
    height: 190px;
  }

  #toggle2:checked ~ #content2 {
    height: 60px;
  }

  #toggle3:checked ~ #content3 {
    height: 200px;
  }

  #toggle4:checked ~ #content4 {
    height: 320px;
  }

  #toggle5:checked ~ #content5 {
    height: 180px;
  }

  footer h2 {
	padding-top: 6em;
  }

  footer p {
	padding-top: 3em;
	width: 70%; 
	line-height: 18px;
  }

  footer h3 {
	padding-top: 2em;
  }


/* iPhone SE */

@media screen and (max-width: 321px) {

  .background_box{
	height: 72vh;
	margin-top: -16em;
  }
  }

  .offerings h2 {	
	font-size: 1.1em;
  }

}

}



