 /* ====================== CSS RESET ====================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ================== HOME PAGE GRID =================== */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto auto;
  grid-template-areas:
    "hero"
    "portfolio"
    "aboutus";
}

/* ===================== HOME PAGE ===================== */

#hero {
  grid-area: hero;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 5em;
}

.BF img {
  height: 60vh;
  position: absolute;
  top: 20%;
  left: 6%;
}

.GF img {
  height: 60vh;
  position: absolute;
  top: 20%;
  right: 6%;
}

.BF img:last-child{
  display:none;
  
}
.BF:hover img:first-child{
  display:none;
  
}
.BF:hover img:last-child{
  display:inline-block;
}

.GF img:last-child{display:none}
.GF:hover img:first-child{display:none}
.GF:hover img:last-child{display:inline-block}

/* --- NAV --- */

#nav {
  position: fixed;
  top: 0;
  width: 100%; 
  height:75px; 
  background-color:#fff;
  color: #FFFFFF;
  z-index: 10;
  display: none;
  margin:0 auto;
}

#nav li {
  display: inline;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #707070;
  margin-left: 2em;
}

#nav li span#item1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#nav li span#item2{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 3em;
}

#nav li span#item3{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5em;
}

#rightify li {
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);
}

#nav a {
  text-decoration: none;
}

#nav li span:hover {
  border-bottom: 3px solid #707070;
}

#navlogo {
  height: 2em;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0; 
  top: 50%;
  transform: translateY(-50%);
}

/* MOBILE NAV */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay a {
  padding: 18px;
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-size: 2.250em;
  color: #000;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.overlay a#email {
  font-size: 1.250em;
  margin-top: 0.75em;
}

.overlay a:hover, .overlay a:focus {
  color: #000;
  text-decoration: underline;
}

.overlay .closebtn {
  position: absolute;
  top: -0.05em;
  right: 0.1em;
  font-size: 3.750em;
  text-decoration: none !important;
  z-index: 12;
}

#burger {
  position: absolute;
  right: 0; 
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.938em;
  cursor: pointer;
  color: #000;
  margin-left: auto;
  padding-right: 0.8em;
}
  

/* ================== PROJECTS SECTION =================== */

/* -- PORTFOLIO GALLERY -- */

#portfolio {
  grid-area: portfolio;
}

.gallery li {
  float: left;
  position: relative;
}

.meed {
  background: url(assets/images/MeedLogo.gif);
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 50%;
}

.pride {
  background: url(assets/images/sanfranpridesoap-NEWCOLOURS.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 50%;
}

.goa {
  background: url(assets/images/GS_PORTFOLIO1.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 50%;
}

.circle {
  background: url(assets/images/GS_PORTFOLIO1.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 50%;
}

#portfolio li:hover {
  background: rgba(255,255,255, 1);
  transition: .15s ease;
  z-index: 9;
  text-align: center;
}

span.text-content {
  color: #000;
  font-size: 20px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}

span.text-content p {
  font-size: 14px;
}

/* ================== ABOUT US SECTION =================== */

#aboutus {
  grid-area: aboutus; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "leadtext leadtext"
    "lefttext righttext";
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 0 auto;
  font-family: futura-pt, sans-serif;
  padding-bottom: 25vh;
}

.leadtext {
  grid-area: leadtext;
  width: 60vw;
  font-size: 24px;
  line-height: 30px;
  margin-top: 25vh;  
}

.lefttext {
  grid-area: lefttext;
  width: 30vw;
  font-size: 16px;
  line-height: 22px;
}

.righttext {
  grid-area: righttext;
  width: 30vw;
  font-size: 16px;
  line-height: 22px;
}


/* ==================== MEDIA QUERIES ===================== */


/* Desktop */

@media only screen and (min-width: 768px){

  #mobilenav {
    display: none;
  }

}

/* Tablet */

@media only screen and (min-width: 375px) and (max-width: 768px){
  
  .BF {
    display: none;
  }

  .GF {
    display: none;
  }
  
  /* Nav */

  #nav ul {
    display: none;
  }

  /* Home portfolio section */

  .meed {
    width: 100%;
  }

  .pride {
    width: 100%;
  }

  .goa {
    width: 100%;
  }

  .circle {
    width: 100%;
  }

  /* Home about section */

  #aboutus {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "leadtext"
      "lefttext" 
      "righttext";
  }

  .leadtext {
    width: 80vw;
  }

  .lefttext {
    width: 80vw;
  }

  .righttext {
    width: 80vw;
  }

}

/* Mobile */

@media only screen and (min-width: 0px) and (max-width: 375px){

  .BF {
    display: none;
  }

  .GF {
    display: none;
  }
  
  /* Nav */



  /* Home portfolio section */

  .meed {
    width: 100%;
  }

  .pride {
    width: 100%;
  }

  .goa {
    width: 100%;
  }

  .circle {
    width: 100%;
  }

  /* Home about section */

  #aboutus {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "leadtext"
      "lefttext" 
      "righttext";
  }

  .leadtext {
    width: 80vw;
  }

  .lefttext {
    width: 80vw;
  }

  .righttext {
    width: 80vw;
  }

}











