 /* ====================== CSS RESET ====================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

/* ===================== INDEX.html PAGE ===================== */

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
  grid-template-areas:
    "main";
}

#main {
  grid-area: main;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 10vh;
}

.BF img {
  height: 60vh;
  position: absolute;
  top: 20%;
  left: 6%;
}

.GF img {
  height: 60vh;
  position: absolute;
  top: 20%;
  right: 6%;
}

.BF img:last-child{
  display:none;
  
}
.BF:hover img:first-child{
  display:none;
  
}
.BF:hover img:last-child{
  display:inline-block;
}

.GF img:last-child{display:none}
.GF:hover img:first-child{display:none}
.GF:hover img:last-child{display:inline-block}

/* --- NAV --- */

#nav {
  position: absolute;
  top: 2em;
  left: 0;
}

#nav li {
  display: inline;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #707070;
  padding-left: 2.5em;
}

#nav a {
  text-decoration: none;
}

#nav li span:hover {
  border-bottom: 3px solid #707070;
}

#aboutus {
  position: absolute;
  top: 2em;
  right: 4em;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #707070;
  width: 13em;
}

/* MOBILE NAV */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay a {
  padding: 18px;
  text-decoration: none;
  font-family: futura-pt, sans-serif;
  font-size: 2.250em;
  color: #000;
  display: block;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.overlay a#email {
  font-size: 1.250em;
  margin-top: 0.75em;
}

.overlay a:hover, .overlay a:focus {
  color: #000;
  text-decoration: underline;
}

.overlay .closebtn {
  position: absolute;
  top: -0.05em;
  right: 0.1em;
  font-size: 3.750em;
  text-decoration: none !important;
}

#burger {
  position: absolute;
  top: 1em;
  right: 0;
  font-size: 1.938em;
  cursor: pointer;
  color: #000;
  margin-left: auto;
  padding-right: 0.8em;
}
  
/* ================== HEADER FOR ALL PAGES =================== */

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logotop {
  height: 4.5vh;
}

/* Fix for shift on 'project/about' pages */
#logotopoffset {
  height: 4.5vh;
  margin-left: -17px;
}

/* ================== PROJECTS MAIN PAGE =================== */

/* -- PORTFOLIO GALLERY -- */

.gallery li {
    float: left;
    position: relative;
}

.photo1 {
  background: url(assets/images/MeedLogo.gif);
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 50%;
}

.photo2 {
  background: url(assets/images/sanfranpridesoap-NEWCOLOURS.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 50%;
}

.photo3 {
  background: url(assets/images/GS_PORTFOLIO1.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 50%;
}

#portfolio li:hover {
  background: rgba(255,255,255, 1);
  transition: .15s ease;
  z-index: 9;
  text-align: center;
}

span.text-content {
  color: #000;
  font-size: 20px;
  font-family: futura-pt, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}

span.text-content p {
  font-size: 14px;
}

#copyright {
  position: relative; 
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: futura-pt, sans-serif;
  padding-top: 4em;
  padding-bottom: 2em;
}

/* ============ PROJECT IMAGE PAGES ============ */

/* Grid for both Project Main & Project Image Pages*/

.itemgrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh auto;
  grid-template-areas:
    "header"
    "images";
}

#images {
  grid-area: images;
}

.contentimages{
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 14vh;
}

.contentimages li:nth-of-type(4) {
  text-align: center;
  padding-top: 7vh;
}

.contentimages img{
  width: 100%;
  height: auto;
}

.projects {
  font-size: 20px;
  font-family: futura-pt, sans-serif;
  line-height: 30px;
  font-weight: bold;
  padding-top: 2em;
  display: flex;
  justify-content: center;
}

.projects a {
  color: red;
  text-decoration: none;
}

/* ============ PROJECT ABOUT PAGES ============ */

.aboutitemgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vh auto auto;
  grid-template-areas:
    "header header"
    "leadp leadp"
    "leftp rightp";
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 0 auto;
}

.leadtext {
  grid-area: leadp;
  width: 60vw;
  font-size: 24px;
  font-family: futura-pt, sans-serif;
  line-height: 30px;
  justify-self: center;
  margin-top: 10vh;      /* not centered just a margin atm - align:center?*/
}

.lefttext {
  grid-area: leftp;
  width: 30vw;
  font-size: 16px;
  font-family: futura-pt, sans-serif;
  line-height: 22px;
  justify-self: right;
}

.righttext {
  grid-area: rightp;
  width: 30vw;
  font-size: 16px;
  font-family: futura-pt, sans-serif;
  line-height: 22px;
  justify-self: left;
}

/* for main 'About' page (removed lead <p>)*/
.maintext {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
    "leftp rightp";
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin: 0 auto;
}


/* ============ TITLE & ABOUT LINKS ============ */

.title {
  position: absolute;   
  position: fixed;
  top: 50%;
  margin-left: 1em;
  font-size: 24px;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  color: red;
 
  /* Rotate Text */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.about {
  position: absolute;
  position: fixed;
  top: 50%;
  margin-right: -1em;
  right: 0;
  font-size: 24px;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  text-decoration: none;
  
  /* Rotate Text */
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.aboutimage {
  position: absolute;
  position: fixed;
  top: 50%;
  margin-right: -1em;
  right: 0;
  font-size: 24px;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  text-decoration: none;
  
  /* Rotate Text */
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.about a {
  color: red;
  text-decoration: none;
}

.aboutimage a {
  color: red;
  text-decoration: none;
}

.aboutsmall a {
  color: red;
  text-decoration: none;
}

.aboutfix {
  margin-right: -2.3em;
}

/* ==================== MEDIA QUERIES ===================== */

/* Above @1024 */

@media only screen and (min-width: 1024px) {

.aboutsmall {
    display: none;
  }

}
/* Desktop @1024 */

@media only screen and (max-width: 1024px) {
  
  .BF img {
    left: -2em;
  }

  .GF img {
    right: -2.2em;
  }

  .photo1 {
    width: 100%;
  }

  .photo2 {
    width: 100%;
  }

  .photo3 {
    width: 100%;
  }

  .itemgrid {
    grid-template-rows: 10vh auto;
  }

  .aboutitemgrid {
    grid-template-rows: 10vh auto auto;
  }

  #logotop {
    height: 3vh;
  }

  /* Fix for shift on 'project/about' pages */
  #logotopoffset {
    height: 3vh;
    margin-left: 0px;
  }

  .aboutfix {
    margin-right: -30px;
  }

  .aboutitemgrid {
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto auto auto;
    grid-template-areas:
      "header"
      "leadp"
      "leftp"
      "rightp";
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0 auto;
  }

  .leadtext {
    width: 75%; 
    margin-top: 2vh;
    line-height: 34px;
    font-size: 50px;
  }

  .lefttext {
    width: 80%;
    justify-self: center;
    line-height: 34px;
    font-size: 30px;
  }

  .leftabouttext {
    width: 80%;
    justify-self: center;
    line-height: 34px;
    font-size: 30px;
  }

  .righttext {
    width: 80%;
    justify-self: center;
    line-height: 34px;
    font-size: 30px;
  }

  .about {
    display: none;
  }

  .aboutsmall {
  position: relative;
  font-size: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-top: 2em;
  margin-bottom: 2em;
  
  /* unRotate Text */
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  filter: none;
}

}

/* iPad text center */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

  .leadtext {
    margin-top: 19vh;   /*DEPENDS ON CONTENT*/
    font-size: 30px;
  }
  .lefttext {
    font-size: 30px;
    line-height: 30px;
  }

  .leftabouttext {
    font-size: 30px;
    line-height: 30px;
  }

  .righttext {
    font-size: 30px;
    line-height: 30px;
  }

}

/* Switch to Mobile Menu */

@media only screen and (min-width: 769px) {

  #mobilenav {
    display: none;
  }
}

/*  TABLET  */

@media only screen and (max-width: 768px) {
  
  #nav {
    display: none;
  }
  
  #aboutus {
    display: none;
  }

  .BF {
    display: none;
  }

  .GF {
    display: none;
  }

}